.container-parrafos{
    display: flex; 
    flex-direction:row;
    padding: 1em;
    max-height: 110vh;
    place-content: center;
    margin:1em;
    
    

    &__descr{
        margin-left: 1em;
        margin-bottom: 1.5em;
        padding-bottom: .5em;
        font-size: 1.5625rem;
        font-weight: 900;
        align-content:center;
        color:$colorparrafo;
        align-content: center;
        text-align: justify;
        
    
    }
}

.container-p{
    max-width: 50rem;
    max-height: 43.75rem;
    margin: 0.625rem;

}

.boton{
    background: rgb(230, 106, 5);
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: .5em;
    display:inline-block;
    align-items: center;
    margin-top:.5em;
    margin-left: 52em;
    max-width: 6.25rem;
        &:hover {
            background: rgb(235, 202, 14);
        }
}


 
.subtitulos-especialidades{
    color: $colorsubtitulos;
    font-size: 2em;
    font-weight: bolder;
    margin-left:.8em;
    
}

.container-imagen{
    margin: 2em;
    padding-left: 7em;
    display: flex;
    flex-direction:row;
    align-items: center;
    max-width: 50rem;
    max-height: 43.75rem;
    gap: 16em;
    
    
}

.imagen-esp{
    height: 18.75rem;
    width: 50rem;
    border-radius: 10%;
    border: blanchedalmond;
    
}