.titulo-especialidades{
    font-size: 3em;
    text-align: center;
    color: $colortitulo;
    margin: 1em;
    padding: 0.5em;
    text-decoration: none;
}

.especialidades{
    display:flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items:content;
    justify-content:stretch;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 0;
    margin-bottom: 0;
    
        &__parrafos{
            display: flex;
            flex-direction: row;
            flex-flow: no-wrap;
            align-items:content;
            justify-content: space-around;
            align-items: center;
            gap: 1.5em; 
            margin: 0 auto;
            padding: 0 auto;
            
    
            &__descr{
            color:$colorparrafo;
            max-width: 50%;
            
            }

            p{
            font-size: 1.3625rem;
            text-align: justify;
            }
            
         }
        
        &__imagen{
            display: flex;
            flex-direction: row;
            flex-flow: no-wrap;
            align-items:content;
            justify-content:space-around;
            gap: 3em;  
            width: 100%;
            
        
            &__estilo{
                width: 50%;
                height: 30%; 
                margin: 0 auto;
            }
            
        }   

}

#nutricion{
   
    border-radius: 10%;
    
}

#movimiento{
    border-radius: 10%;
}


.boton{
    background: rgb(230, 106, 5);
    color: white;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: .5em;
    display:inline-block;
    align-items: center;
    margin-top:.5em;
    margin-left: 52em;
    max-width: 6.25rem;
        &:hover {
            background: rgb(235, 202, 14);
        }
}


 
.subtitulos-especialidades{
    color: $colorsubtitulos;
    font-size: 2em;
    font-weight: bolder;
    
}

@media only screen and (max-width: 450px){
    .especialidades{
        margin: 1em;
        flex-direction: row-reverse;
        
        &__parrafos{
            flex-flow: nowrap;
            justify-content: space-between;
            gap: 2em;
            align-items:center;
            align-content: center;
        }
        p{
            flex-flow: nowrap;
            font-size: 0.5em;
            
        }

        &__imagen{
            flex-flow: nowrap;
            justify-content: space-between;
            gap: 2em;
            padding-left: 2em;
            margin-bottom: 0.3em;

        }
    }
    .subtitulos-especialidades{
        flex-flow: wrap;
        font-size: 0.8em;
    }
   
}