/*Main*/



#tabla-container{
    margin-top: 0;
    background: url("../imagenes/back14.jpg") center;
}

.tabla-prod{
   
    margin: 2em;
    padding: 5em; 
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: 1.275em;
    overflow: auto;
    background-color: $fondonav;
        &__link{
            background: rgb(216, 75, 10);
            color: white;
            text-decoration: none;
            padding: .5em 1em;
            border-radius: .5em;
            display:inline-block;
            margin:.5em;
            padding:.5em;
            &:hover {
            background: rgb(207, 170, 5);
        }
    }
        &__titulo{
            background-color:  $fondonav;
            color:rgb(43, 248, 214);
            font-size: 1.6em;
        }
}

.lista-pasos li {

    font-size: 1.5em;
    align-content:center;
    color:$colorparrafo;
    list-style-type:decimal;
    margin: 2em;
    padding: auto;
    

}


.subtitulos-servicios{
    color: $colorsubtitulos;
    font-size: 1.875em;
    margin: 1em;
}

.titulos-servicios{
    color: $colortitulo;
    font-size: 3em;
    text-align: center;
    margin: 1em;
    padding: 1em;
}

.p-servicios{
    margin: 1em;
    color: $colorparrafo;
    
}
.div__tabla{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
   
}

.div__pasos{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content:first baseline;
    gap: 1em;
    &__titulo{
        align-content: left;
    }
    &__ubicacion{
        align-content: center;
    }
}


.div__iframe{
    display: flex;
    flex-direction:column;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
}
.dra{
    align-content: center;
    text-align: justify;
}
.iframe{
    align-content: center;
    
}

@media only screen and (max-width: 450px) {
   .tabla-prod{
       font-size: 0.8em;
       margin: 0.2em;
       width: 100%;
       &__titulo{
           font-size: 1em;
       }
   }
   .subtitulos-servicios{
       font-size: 0.8em;
       text-align: left;
       
   }
   .titulos-servicios{
       font-size: 1em;
       text-align: left;
       
   }
   .lista-pasos li {
       font-size: 0.5em;
   }
   .p-servicios{
       font-size: 0.5em;
   }
}