@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
}

* {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 2em;
  text-decoration: underline;
}

h2, h3, h4 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

.hero__titulo, .hero__descr {
  font-size: 2.5em;
}

.hero__subtitulo {
  font-size: 2.2em;
}

/*Body*/
html {
  font-family: "Poppins", sans-serif;
}

.menu__logo {
  width: 37vh;
  height: 12vh;
  margin: 0.5em;
}

body {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
}

/*Header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0.5em 1em;
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
}

@media only screen and (max-width: 450px) {
  .menu__logo {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 1.25rem;
  font-weight: bolder;
  background-color: rgba(1, 1, 1, 0.3);
  gap: 1em;
  list-style-type: none;
  padding: 0.625em;
}

.menu__enlace {
  padding: 1em;
  text-decoration: none;
  color: #080700;
}

.menu__enlace:hover {
  -webkit-transform: 2px;
          transform: 2px;
  color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
}

.menu__sm {
  display: none;
  font-size: 1.3em;
}

.menu__md {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.menu__md li {
  list-style: none;
}

@media only screen and (max-width: 450px) {
  .menu__sm {
    display: block;
  }
  .menu__md {
    display: none;
  }
  input[type=checkbox]:checked ~ .menu__md {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: calc(80vh - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 1.5em;
    background: #525455;
    padding: 2em;
    border-bottom-left-radius: 0.5em;
    -webkit-animation: scale-in-ver-top 300ms both;
            animation: scale-in-ver-top 300ms both;
  }
  @-webkit-keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
  @keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 0;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: top;
              transform-origin: top;
      opacity: 1;
    }
  }
}

/*Footer*/
.container {
  margin-top: 1.25rem;
  min-height: 7em;
  background-color: #525455;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em;
  color: black;
  list-style-type: none;
}

.container__redes ul, .container li, .container a {
  font-weight: bolder;
  text-decoration: none;
  margin-right: .2em;
  color: black;
  font-size: 1.2em;
  gap: .5em;
  display: inline;
}

.container__mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  padding-left: 1em;
  color: black;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
}

.container__enlace {
  display: inline;
  list-style-type: none;
  color: black;
  font-size: 1.5em;
  gap: .5em;
}

@media only screen and (max-width: 450px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 0.5em;
  }
  .container__mapa {
    font-size: 0.5em;
  }
}

/*Main*/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  background: url("../imagenes/back12.jpg") no-repeat center/cover;
  height: 100vh;
  place-content: center;
}

.hero__subtitulo {
  font-size: 2.2em;
  color: white;
  padding: 1em;
}

.hero__titulo, .hero__descr {
  font-size: 2.5em;
  color: #c72e08;
  margin-left: 0.8em;
  min-height: 5rem;
  font-weight: 900;
}

.hero__descr {
  color: white;
  margin-top: 0.7em;
  margin-left: 1em;
  padding-left: 0.8em;
  display: block;
  font-weight: bolder;
  line-height: 1.8em;
  place-items: left;
  text-align: justify;
  background: rgba(1, 1, 1, 0.3);
  gap: 2em;
  font-size: 1.2em;
  max-width: 70%;
}

@media only screen and (max-width: 450px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
  }
  .hero__subtitulo {
    text-align: center;
    font-size: 1.2em;
    margin-top: 0;
    max-width: 200px;
  }
  .hero__titulo, .hero__descr {
    text-align: center;
    max-width: 280px;
    font-size: 1.5em;
    text-decoration: none;
  }
  .hero__descr {
    text-align: justify;
    font-size: 0.6em;
    gap: 0.8em;
    padding: 1em;
  }
}

/* Tarjetas*/
.container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.8em;
  padding: 0.3em;
}

.card {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 0.3em;
  overflow: hidden;
  margin-bottom: 10em;
  -webkit-box-shadow: 0 10px 25px -10px black;
          box-shadow: 0 10px 25px -10px black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  max-width: 31.25rem;
  max-height: 25rem;
}

.card__:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 35px -10px black;
          box-shadow: 0 15px 35px -10px black;
}

.card__img {
  width: 100%;
  -ms-flex-preferred-size: 12.5rem;
      flex-basis: 12.5rem;
}

.card__content {
  padding: 1.5em;
  background: #c5c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.card__item {
  background: #159b94;
  color: #010c0b;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3em;
  font-size: 1.2em;
}

.card__item--active {
  background: #4b4d4b;
  font-weight: bold;
}

.card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.card__btn {
  background: #bb510a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-bottom: 0.625rem;
}

.card__btn:hover {
  background: #e9c913;
}

#img1 {
  background: url("../imagenes/doc7.jpg") no-repeat 50% 20%/cover;
}

#img2 {
  background: url("../imagenes/doc8.jpg") no-repeat 50% 20%/cover;
}

#img3 {
  background: url("../imagenes/doc10.jpg") no-repeat 50% 20%/cover;
}

.especialidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: content;
      -ms-flex-align: content;
          align-items: content;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0;
  margin-bottom: 0;
}

.especialidades__parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: no-wrap;
      flex-flow: no-wrap;
  -webkit-box-align: content;
      -ms-flex-align: content;
          align-items: content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  margin: 0 auto;
  padding: 0 auto;
}

.especialidades__parrafos__descr {
  color: black;
  max-width: 50%;
}

.especialidades__parrafos p {
  font-size: 1.3625rem;
  text-align: justify;
}

.especialidades__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: no-wrap;
      flex-flow: no-wrap;
  -webkit-box-align: content;
      -ms-flex-align: content;
          align-items: content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 3em;
  width: 100%;
}

.especialidades__imagen__estilo {
  width: 50%;
  height: 30%;
  margin: 0 auto;
}

#nutricion {
  border-radius: 10%;
}

#movimiento {
  border-radius: 10%;
}

.boton {
  background: #e66a05;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5em;
  margin-left: 52em;
  max-width: 6.25rem;
}

.boton:hover {
  background: #ebca0e;
}

.subtitulos-especialidades {
  color: #c46c09;
  font-size: 2em;
  font-weight: bolder;
}

@media only screen and (max-width: 450px) {
  .especialidades {
    margin: 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .especialidades__parrafos {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .especialidades p {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    font-size: 0.5em;
  }
  .especialidades__imagen {
    -ms-flex-flow: nowrap;
        flex-flow: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 2em;
    padding-left: 2em;
    margin-bottom: 0.3em;
  }
  .subtitulos-especialidades {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    font-size: 0.8em;
  }
}

/*Main*/
#tabla-container {
  margin-top: 0;
  background: url("../imagenes/back14.jpg") center;
}

.tabla-prod {
  margin: 2em;
  padding: 5em;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 1.275em;
  overflow: auto;
  background-color: rgba(1, 1, 1, 0.3);
}

.tabla-prod__link {
  background: #d84b0a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin: .5em;
  padding: .5em;
}

.tabla-prod__link:hover {
  background: #cfaa05;
}

.tabla-prod__titulo {
  background-color: rgba(1, 1, 1, 0.3);
  color: #43bdb7;
  font-size: 1.6em;
}

.lista-pasos li {
  font-size: 1.5em;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  list-style-type: decimal;
  margin: 2em;
  padding: auto;
}

.subtitulos-servicios {
  color: #c46c09;
  font-size: 1.875em;
  margin: 1em;
}

.titulos-servicios {
  color: #43bdb7;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  margin: 1em;
  padding: 1em;
}

.p-servicios {
  margin: 1em;
  color: black;
}

.div__tabla {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div__pasos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: first baseline;
      -ms-flex-pack: first baseline;
          justify-content: first baseline;
  gap: 1em;
}

.div__pasos__titulo {
  -ms-flex-line-pack: left;
      align-content: left;
}

.div__pasos__ubicacion {
  -ms-flex-line-pack: center;
      align-content: center;
}

.div__iframe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dra {
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: justify;
}

.iframe {
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 450px) {
  .tabla-prod {
    font-size: 0.8em;
    margin: 0.2em;
    width: 100%;
  }
  .tabla-prod__titulo {
    font-size: 1em;
  }
  .subtitulos-servicios {
    font-size: 0.8em;
    text-align: left;
  }
  .titulos-servicios {
    font-size: 1em;
    text-align: left;
  }
  .lista-pasos li {
    font-size: 0.5em;
  }
  .p-servicios {
    font-size: 0.5em;
  }
}

.titulo-tienda {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
}

.fondo-tienda {
  background: url("../imagenes/back16.jpg") no-repeat center/cover;
}

.container-tienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  margin: 1em;
}

.card-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 0.3em;
  overflow: hidden;
  margin-bottom: 10em;
  -webkit-box-shadow: 0 10px 25px -10px black;
          box-shadow: 0 10px 25px -10px black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.card-tienda__img {
  width: 100%;
  -ms-flex-preferred-size: 25em;
      flex-basis: 25em;
  background: white;
}

.card-tienda__content {
  padding: 1.5em;
  background: #c5c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-tienda__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.card-tienda__item {
  background: #159b94;
  color: #010c0b;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3em;
  font-size: 1.2em;
}

.card-tienda__item--active {
  background: #4b4d4b;
  font-weight: bold;
}

.card-tienda__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.card-tienda__btn {
  background: #bb510a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-bottom: 0.625em;
}

.card-tienda__btn:hover {
  background: #e9c913;
}

.card-tienda:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 35px -10px black;
          box-shadow: 0 15px 35px -10px black;
}

#tienda1 {
  background: url("../imagenes/poligrafo 1.jpg") no-repeat 50% 70%/cover;
}

#tienda2 {
  background: url("../imagenes/cpap.jpg") no-repeat 50% 70%/cover;
}

#tienda3 {
  background: url("../imagenes/almohada.jpg") no-repeat 50% 70%/cover;
}

.form__formulario-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 28.125rem;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5em;
  background: rgba(1, 1, 1, 0.3);
}

.form__modelo-etiqueta {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

input, select, option, textarea {
  padding: 0.7em;
  border: none;
  resize: none;
  border-radius: 0.3em;
  width: inherit;
  background-color: #dad4d4;
}

textarea {
  min-height: 7.5rem;
}

form.formulario-general {
  font-size: 1.5625rem;
  margin: 1em;
}

form.formulario-general input, form.formulario-general select, form.formulario-general textarea {
  margin-bottom: 1em;
}

.titulo-contacto {
  font-size: 2em;
  color: white;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

.botonc {
  background: #e66a05;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5em;
  margin-left: 2em;
  max-width: 6.25rem;
}

.botonc:hover {
  background: #ebca0e;
}

.back-contacto {
  background: url("../imagenes/back15.jpg");
}
/*# sourceMappingURL=estilos.css.map */