@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

* {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font: size 3em;
  text-decoration: underline;
}

h2, h3, h4 {
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

/*Body*/
html {
  font-family: "Poppins", sans-serif;
}

.menu__logo {
  width: 37vh;
  height: 12vh;
  margin: 0.5em;
}

body {
  min-height: 100vh;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

/*Header*/
header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 1.5em 2em;
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  font-size: 20px;
  font-weight: bolder;
  background-color: rgba(1, 1, 1, 0.3);
  gap: 1em;
  list-style-type: none;
  padding: 10px;
}

.menu__md {
  display: none;
}

.menu__enlace {
  padding: 1em;
  text-decoration: none;
  color: #080700;
}

.menu__enlace:hover {
  -webkit-transform: 2px;
          transform: 2px;
  color: whitesmoke;
  -webkit-transition: 2s;
  transition: 2s;
}

@media only screen and (min-width: 650px) {
  .menu__sm {
    display: none;
  }
  .menu__md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    margin-right: 1em;
  }
}

/*Footer*/
.container {
  margin-top: 20px;
  min-height: 7em;
  background-color: #525455;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em;
  color: black;
}

.container__redes ul, .container li, .container a {
  display: inline;
  font-weight: bolder;
  text-decoration: none;
  list-style-type: none;
  margin-right: .2em;
  color: black;
  font-size: 1.2em;
  gap: .5em;
}

.container__mapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 1em;
  padding-left: 1em;
  color: black;
  font-weight: bold;
  font-size: 1.2vh;
  text-align: left;
  list-style-type: none;
}

.container__lista-redes {
  font-weight: bolder;
  text-decoration: none;
  list-style-type: none;
  display: inline-block;
  margin-right: .2em;
  color: black;
}

.container__lista-redes__enlace {
  display: inline;
  list-style-type: none;
  color: black;
  font-size: 1.5em;
  gap: .5em;
}

@media only screen and (max-width: 450px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*Main*/
.titulo {
  font-size: 2em;
  font-weight: 900;
  color: black;
  font-weight: bolder;
  margin-bottom: 2em 1em;
}

.hero {
  display: -ms-grid;
  display: grid;
  padding: 1em;
  background: url("../back12.jpg");
  height: 80vh;
  place-content: center;
}

.hero__subtitulo {
  font-size: 2em;
  font-weight: 900;
  color: white;
  padding: 1em;
}

.hero__titulo, .hero__descr {
  font-size: 3em;
  color: #c72e08;
  margin-left: 0.8em;
  min-height: 80px;
}

.hero__descr {
  font-size: 1em;
  font-weight: bold;
  color: white;
  margin-top: 0.7em;
  margin-left: 1em;
  padding-left: 0.8em;
  display: block;
  font-weight: bolder;
  font-size: 1.8em;
  line-height: 1.8em;
  max-width: 700px;
  -ms-flex-line-pack: center;
      align-content: center;
  background: rgba(1, 1, 1, 0.3);
}

@media only screen and (max-width: 650px) {
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: wrap;
            flex-direction: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    font-size: 0.5em;
  }
}

/* Tarjetas*/
.container__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.3em;
}

.card {
  padding: 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 0.3em;
  overflow: hidden;
  margin-bottom: 10em;
  -webkit-box-shadow: 0 10px 25px -10px black;
          box-shadow: 0 10px 25px -10px black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  max-width: 500px;
  max-height: 400px;
}

.card__:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 35px -10px black;
          box-shadow: 0 15px 35px -10px black;
}

.card__img {
  width: 100%;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}

.card__content {
  padding: 1.5em;
  background: #c5c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.card__item {
  background: #159b94;
  color: #010c0b;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3em;
  font-size: 1.2em;
}

.card__item--active {
  background: #4b4d4b;
  font-weight: bold;
}

.card__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.card__btn {
  background: #bb510a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-bottom: 10px;
}

.card__btn:hover {
  background: #e9c913;
}

#img1 {
  background: url("../doc7.jpg") no-repeat 50% 20%/cover;
}

#img2 {
  background: url("../doc8.jpg") no-repeat 50% 20%/cover;
}

#img3 {
  background: url("../doc10.jpg") no-repeat 50% 20%/cover;
}

.container-parrafos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
  max-height: 110vh;
  place-content: center;
}

.container-parrafos__descr {
  margin-left: 1em;
  margin-bottom: 1.5em;
  padding-bottom: .5em;
  font-size: 25px;
  font-weight: 900;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
  align-content: center;
  text-align: justify;
}

.container-p {
  max-width: 800px;
  max-height: 700px;
}

.boton {
  background: #e66a05;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5em;
  margin-left: 52em;
  max-width: 100px;
}

.boton:hover {
  background: #ebca0e;
}

.subtitulos-especialidades {
  color: #c46c09;
  font-size: 2em;
  font-weight: bolder;
  margin-left: .8em;
}

.container-imagen {
  margin: 2em;
  padding-left: 7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100em;
  max-height: 50em;
  gap: 16em;
}

.imagen-esp {
  height: 300px;
  width: 800px;
  border-radius: 10%;
  border: blanchedalmond;
}

/*Main*/
.iframe {
  padding-left: 40em;
  max-width: 50%;
}

#tabla-container {
  margin-top: 0;
  background: url("../back14.jpg");
}

.tabla-prod {
  margin: 2em;
  padding: 5em;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  background-color: rgba(1, 1, 1, 0.3);
}

.tabla-prod__link {
  background: #d84b0a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin: .5em;
  padding: .5em;
}

.tabla-prod__link:hover {
  background: #cfaa05;
}

.tabla-prod__titulo {
  background-color: rgba(1, 1, 1, 0.3);
  color: #43bdb7;
}

.lista-pasos {
  margin-left: 1em;
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: 30px;
  font-weight: bolder;
  -ms-flex-line-pack: center;
      align-content: center;
  color: black;
}

.subtitulos-servicios {
  color: #c46c09;
  font-size: 30px;
  margin: 1em;
}

.titulos-servicios {
  color: #43bdb7;
  font-size: 3em;
  margin: 1em;
  text-decoration: underline;
}

.p-servicios {
  margin: 1em;
  color: black;
}

.titulo-tienda {
  color: #c72e08;
  font-size: 2em;
  margin-top: 1em;
  margin-left: 0.5em;
}

.fondo-tienda {
  background: url("../back16.jpg") no-repeat center/cover;
}

.container-tienda {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2em;
  margin: 1em;
}

.card-tienda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 0.3em;
  overflow: hidden;
  margin-bottom: 10em;
  -webkit-box-shadow: 0 10px 25px -10px black;
          box-shadow: 0 10px 25px -10px black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.card-tienda__img {
  width: 100%;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  background: white;
}

.card-tienda__content {
  padding: 1.5em;
  background: #c5c2c2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.card-tienda__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.card-tienda__item {
  background: #159b94;
  color: #010c0b;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .3em;
  font-size: 1.2em;
}

.card-tienda__item--active {
  background: #4b4d4b;
  font-weight: bold;
}

.card-tienda__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1.5em;
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.card-tienda__btn {
  background: #bb510a;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  margin-bottom: 10px;
}

.card-tienda__btn:hover {
  background: #e9c913;
}

.card-tienda:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 15px 35px -10px black;
          box-shadow: 0 15px 35px -10px black;
}

#tienda1 {
  background: url("../poligrafo 1.jpg") no-repeat 50% 70%/cover;
}

#tienda2 {
  background: url("../cpap.jpg") no-repeat 50% 70%/cover;
}

#tienda3 {
  background: url("../almohada.jfif") no-repeat 50% 70%/cover;
}

.form__formulario-general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 450px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5em;
  background: rgba(1, 1, 1, 0.3);
}

.form__modelo-etiqueta {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
  font-size: 20px;
  padding: 0.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

input, select, option, textarea {
  padding: 0.7em;
  border: none;
  resize: none;
  border-radius: 0.3em;
  width: inherit;
  background-color: #dad4d4;
}

textarea {
  min-height: 120px;
}

form.formulario-general {
  font-size: 25px;
  margin: 1em;
}

form.formulario-general input, form.formulario-general select, form.formulario-general textarea {
  margin-bottom: 1em;
}

.titulo-contacto {
  font-size: 3em;
  color: white;
  margin-left: .5em;
  margin-top: 1em;
}

.botonc {
  background: #e66a05;
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: .5em;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: .5em;
  margin-left: 2em;
  max-width: 100px;
}

.botonc:hover {
  background: #ebca0e;
}

.back-contacto {
  background: url("../back15.jpg");
}
/*# sourceMappingURL=estilos.css.map */